@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-size: clamp(18px, 2.5vw, 24px);
  line-height: 1.6;
  background-color: #0f1c2e !important;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: clamp(2.3m, 2svw, 10em);
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: -2px;
}

h2 {
  font-size: clamp(1.5em, 4vw, 2em);
  margin-bottom: 0.5em;
}
h3 {
  font-size: clamp(1.2em, 3vw, 1.5em);
  margin-bottom: 0.3em;
}
p {
  margin-bottom: 1em;
}
.modal {
  position: absolute;
  top: 10px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.card {
  background-color: #0f1c2e !important;
  color: #e0e0e0 !important;
}
.App {
  padding-inline: 2%;
  padding-top: 2%;
  margin: 0 auto;
  background-color: #0f1c2e !important;
}
.meta-tag-title {
  margin: 0 auto;
}
.meta-tag-container {
  width: 70% !important;
  margin: 4% auto;
  background-color: #e7dfdf !important;
  color: #0f1c2e;
  border: 0.1px solid #374357 !important;
  border-bottom: 3px solid #4d648d !important;
  border-radius: 2px !important;
  font-size: 1.1rem;
}
form input,
form textarea {
  background-color: #374357 !important;
  color: #e0e0e0 !important;
  border: 0.1px solid #374357 !important;
  border-bottom: 3px solid #4d648d !important;
  border-radius: 2px !important;
  min-height: 3rem !important;
}
form textarea {
  min-height: 5rem !important;
  max-height: auto !important;
}
form label {
  font-size: 1.2rem;
}
::placeholder {
  color: #9c9c9c !important;
}
@media (max-width: 576px) {
  .App {
    width: 100%;
  }
  .meta-tag-container {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .App {
    width: 70% !important;
  }
  .meta-tag-container {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .App {
    width: 70%;
  }
  .meta-tag-container {
    width: 70% !important;
  }
}
